<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>船舶海图资料智能服务系统</title>

    <link href="../../static/css/cas.css" th:href="@{/css/cas.css}" rel="stylesheet" th:remove="tag" />
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div>
        <div class="alert alert-success">
            <h2>登出成功</h2>
            <p>您已经成功地退出了单点身份验证服务. 你可以重新<a href="login">登录</a>.</p>
            <p>出于安全原因，请退出Web浏览器.</p>
        </div>
    </div>
</main>
</body>
</html>
